
table,td,th{
    border: 1px solid black;
}
body{
    background-image: url("w.jpg");
}

#table{
    height: 250px;
    width: 500px;
}

#start,p,td{
    
    font-size: 25px;
    font-style: oblique;
}

h1{
    font-style: oblique;
    color: rgb(238, 241, 241);
    font-size: 50px;
    
}
button{
    background-color: rgb(238, 241, 241);
}
th{
    font-size: 25px;
}
#playbtn1,#playbtn1,#playbtn1{
    height: 50px;
    width: 100px;
    font-size: 25px;
    font-style: oblique;
}
h2{
    color: rgb(238, 241, 241); 
}


